Global
:root{
  /*color*/
  --color-green: #2f7035;
  --color-light-green: #d3ebd5;
  --color-dark-green: #053309;
  --color-black: #000000;
  --color-gold: #d9c336;
  --color-dark-grey: #59574b;
  --color-grey: #616161;
  --color-light-grey: ##807f7a;

  
  
  

 /* font-size*/
 --font-large:48px;
 --font-medium:28px;
 --font-regular:18px;
 --font-small:16px;
 --font-micro:14px;

  /*font weight*/
  --weight-bold:700;
  --weight-semi-bold:600;
  --weight-regular:400;
 /* Font size*/
 --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

};
/*universal tags
{
box-sizing:border-box;
}
/*typography*/

body{
  margin:0;
  font-family:'Open Sans', sans-serif;
}

a{
  text-decoration:none;
  color:var(--color-white);  
}
ul{
  list-style:none;
  padding-left:0;
}

h1{
  font-size:var(--font-large);
font-weight:(--weight-bold);
color:var(--color-black);
margin:16 0px;

}
h2{
  font-size:var(--font-regular);
  font-weight:var(--weight-semi-bold);
  color:var(--color-black);
  margin:8px 0;
}
h3{
  font-size:var(--font-regular);
  font-weight:var(--font-regular);
  color:var(--color-black);
  margin:8px 0;
}
p{
  font-size:var(--font-regular);
  font-weight:var(--font-regular);
  color:var(--color-black);
  margin:4px 0;

}
/*.navbar*/
#navbar{
  display:flex;
  justify-content:space-between;
  background-color:var(--color-pink);

  color:var(--color-seagreen);
  align-items:center;
  padding:16px;
}

.navbar__menu{
  display:flex;
}
.navbar__logo{
  font-size:var(--font-medium);
 
}
.navbar__menu__item{
  padding: 8px 12px;
  margin:0 4px;
}