Global
:root{
  /*color*/
  /*font size
  /*font weight
  /*size

}
/*universal tags
{
box-sizing:border-box;
}
/*typography*/
}

h1{
  font-size:var(--font-large);
font-weight:(--weight-bold);
color:var(--color-black);
margin:16 0px;

}
h2{
  font-size:var(--font-regular);
  font-weight:var(--weight-semi-bold);
  color:var(--color-black);
  margin:8px 0;
}
h3{
  font-size:var(--font-regular);
  font-weight:var(--font-regular);
  color:var(--color-black);
  margin:8px 0;
}
p{
  font-size:var(--font-regular);
  font-weight:var(--font-regular);
  color:var(--color-black);
  margin:4px 0;

}